{% load static %}
<!DOCTYPE html>
<html class="color">
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h3>Publish Post</h3>
	{% for data in posts_data %}
		<li class="list-cls col-md-4" style="background-color:white; width: 50%;" data-post="{{ data.id }}">{{ forloop.counter }}){{ data.tit|capfirst}}<br>
		{{ data.description}}<br>
		like count:{{ data.like_count }}<br>	
		<p class="like-cls">
			<!-- <i class="fa fa-heart-o" aria-hidden="true"></i> -->
		{% if data.is_liked == False %}
			<i class="fa fa-heart-o none-cls commen-cls" aria-hidden="true"></i>
		{% else %}
			<i class="fa fa-heart-o heart-cls commen-cls" aria-hidden="true"></i>
		</p>
		{% endif %}

		<!-- <li class="list-cls col-md-4" style="background-color:white; width: 50%;" data-post="{{ data.id }}">{{ data|capfirst }}.{{ forloop.counter }}.{{ post_data0 }} -->

		<div class="card-action">
			{% for commen in data.comment %}
				<div class="text-cls">
			 		<strong>{{ commen.text_field }}</strong>
			 		User Name:<strong class="user-css">{{ commen.user }}</strong><br>
	 				{% if request.user == commen.user %} 
			 			<h6 class="delete-cls" data-id="{{ commen.id }}">
			 				<a href="" class="delete-card">delete</a>
			 				</h6>
			 		{% elif request.user == commen.post.auther %}
			 			author:<h6 class="delete-cls" data-id="{{ commen.id }}">
			 				<a href="" class="delete-card">delete</a>
			 				</h6>
			 		{% endif %}	
		 		</div>
					{% empty %}
					<p>There is no comments</p>
			{% endfor %}
		</div>

		<div class="post-cls">
		<a href={% url 'view_post' id=data.id %}>View</a>
		<a href={% url 'edit_post' id=data.id %}>Edit</a>
		<a href={% url 'delete_post' id=data.id %}>Delete</a>
		<a href={% url 'comment_post' id=data.id %}>Comment</a>
		</div>

		</li>


		<!-- [comment] : in this we find comment of post through ORM in TEMPLATES  -->

			<!-- <div class="card-action">
				{#% for commen in data.post.all %}
					<div class="text-cls">
				 		<strong>{{ commen.text_field }}</strong>
				 		User Name:<strong class="user-css">{{ commen.user }}</strong><br>
		 				{#% if request.user == commen.user %} 
				 			<h6 class="delete-cls" data-id="{{ commen.id }}">
				 				<a href="" class="delete-card">delete</a>
				 				</h6>
				 		{#% elif request.user == commen.post.auther %}
				 			author:<h6 class="delete-cls" data-id="{{ commen.id }}">
				 				<a href="" class="delete-card">delete</a>
				 				</h6>
				 		{#% endif %}	
			 		</div>
						{#% empty %}
						<p>There is no comments</p>
				{#% endfor %} -->


			<!-- {{ post_data.0 }} -->
		<!-- {#% for like in post_data %}
			aa:{{ like.0 }}
		{#% endfor %} -->
				

			<!-- </div> -->
			
			<!-- <p class="like-cls">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					
			</p> -->


					<!-- {{ data.like_user }} -->
					<!-- {{ data.liked_users }} -->

				<!-- {#% for like in post_data %}
					{#% if like == False %}
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					{#% else %}
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					{#% endif %}
				{#% endfor %} -->

				
			<!-- </p> -->
		<!-- </li> -->


	{% endfor %}


	<!-- {#% for data in comment_data %}
		<li>{{ data }}</li>
		
	{#% endfor %} -->



			{% if posts_data.has_other_pages %}
				<ul class="pagination">
				{% if posts_data.has_previous %}
				  <li><a href="?page={{ posts_data.previous_page_number }}">&laquo;</a></li>
				{% else %}
				  <li class="disabled"><span>&laquo;</span></li>
				{% endif %}
				{% for i in posts_data.paginator.page_range %}
				  {% if posts_data.number == i %}
				    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				  {% else %}
				    <li><a href="?page={{ i }}">{{ i }}</a></li>
				  {% endif %}
				{% endfor %}
				{% if posts_data.has_next %}
				  <li><a href="?page={{ posts_data.next_page_number }}">&raquo;</a></li>
				{% else %}
				  <li class="disabled"><span>&raquo;</span></li>
				{% endif %}
				</ul>
			{% endif %}



</html>



<style type="text/css">
	.color{
		background-color: #e4cdcd;
	}
	.card-action{
		color: coral;
	}
	.user-css{
		color: chocolate;
	}
	.delete-card{
		font-size: 14px;
	}
	.heart-cls{
		color: red;
	}
	.none-cls{
		color: blue;
	}

</style>

<script type="text/javascript">
	$(document).on('click','.commen-cls',function(){
		debugger
		// post_id=$(this).attr('data-post')
		post_id = $(this).parent().parent().attr('data-post')
		const _this = this;
		$.ajax({
			type:"GET",
			url:"/like-post/" + post_id,
			data:post_id,
			success:function(result){
				debugger
				post_id = result.result.post_id
				like = result.result.like_value
				// post_id = result.post_id
				// like = result.like_value
				if(like == false){
					debugger
					$(".list-cls[data-post]").each(function(index){
							// post_id = $(".list-cls").attr('data-post')
						if($(this).data('post') == post_id){
							debugger
							// $(this).children('p').children('i').removeClass('heart-cls')
							// $(this).children('p').children('i').addClass('none-cls')
							$(this).children('p').children('i').addClass('none-cls')
							$(this).children('p').children('i').removeClass('heart-cls')
							
						}
						});
				}
				else if(like == true){
					debugger
					$(".list-cls[data-post]").each(function(index){
						// post_id = $(this).attr('data-post')
						if($(this).data('post') == post_id){
							debugger
							// $(this).children('p').children('i').removeClass('none-cls')
							// $(this).children('p').children('i').addClass('heart-cls')
							$(this).children('p').children('i').addClass('heart-cls')
							$(this).children('p').children('i').removeClass('none-cls')
						}
						});
				}


				// user_like = result.post.like
				// user_id = result.post_id
				// 	if(user_like == 0){
				// 		$(".list-cls[data-post]").each(function(index){
				// 			if($(this).data('post') == user_id){
				// 				$(this).children('p').children('i').removeClass('heart-cls')
				// 				$(this).children('p').children('i').addClass('none-cls')
				// 			}
				// 			});
				// 	}
				// 	else if(user_like >= 1){
				// 		$(".list-cls[data-post]").each(function(index){
				// 			if($(this).data('post') == user_id){
				// 				$(this).children('p').children('i').addClass('heart-cls')
				// 			}
				// 			});
				// 		}
						
					}
			});
		});


	
	$(document).on('click','.delete-cls',function(){
		debugger
		comment_id = $(this).attr('data-id')
		$.ajax({
			type:"GET",
			url:"/delete-comment/" + comment_id,
			data:comment_id,
			success:function(result){
				debugger
				post_id = result.results.comment.post
				result_id = result.result
				debugger
				$(".list-cls[data-post] ").each(function(index){
					debugger
					if($(this).data('post') == post_id){
						debugger
						ab=$(this).children('div').children()
						$(ab).each(function(index){
							$(".delete-cls[data-id]").each(function(index){
								if($(this).data('id') == result_id){
									$(this).parent().remove()
									}
							});
						});
					}
				});
			}
		});

	})

</script>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1000px}
    

    .nav-cls{
      text-align: left;
      /*text-align: right;
      width: 37%;*/
    }

  .background-cls{
      background-color: #e4cdcd;
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      width: 20%
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<div class="container-fluid background-cls">
  <div class="row content">

    <div class="nav-cls">
      <h2>Posts World </h2>
      <img src="/home/rails/qt-wkhtmltopdf/demos/logo32.png" width="50%" height="50%">
      <!-- <p>Turn the nav menu into navigation tabs with the .nav nav-tabs class. Add the active class to the active/current link. If you want the tabs to be togglable, see the last example on the tutorial page.</p> -->
      <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul> -->
    </div>

    <div class="col-sm-3 sidenav">
      <!-- <h4>John's Blog</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">Friends</a></li>
        <li><a href="#section3">Family</a></li>
        <li><a href="#section3">Photos</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div> -->
    </div>

    

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>



    <div id="content">
    </div>


  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
</html>
